version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: jlpt_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1104205
      POSTGRES_DB: jlpt_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: